body{
	font-family: Arial, sans-serif;
}

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;  
    background: #fff;
    transition: all 0.5s;
    opacity: 1;
}
.preloader-remove {
    opacity: 0;
    z-index: -10;
}

.preloader svg {
    max-width: 25em;
    border-radius: 3px;
    background: #FFF;
    fill: none;
    stroke: #BFE2FF;
    stroke-linecap: round;
    stroke-width: 12%
}
.preloader use {
    stroke: #337AB7;
    animation: preloader-a 2s linear infinite
}

@keyframes preloader-a {
    to { 
        stroke-dashoffset: 0px 
    } 
}

nav{
	width: 100%;
	height: 30px;
	background: #344051;
	position: fixed;
}

.logo{
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	padding-left: 280px;
	float: left;
	-webkit-animation: coming 2s;
	animation: coming 2s;
}

@keyframes coming {
	from{
		opacity: 0;
	} to {
		opacity: 1;
	}
}

.menu{
	float: left;
	padding-left: 295px;
}

.menu li{
	float: left;
	color: #fff;
	line-height: 30px;
	margin-right: 30px;
	font-size: 14px;
	text-transform: uppercase;
	-webkit-animation: topshift 2s forwards;
	animation : topshift 2s forwards;
	opacity: 0;
	display: inline-block;
	transform: scale(1);
}

.menu li a:visited{
	color: white;
}

.menu li:active{
	transform: scale(1.2);
}

.menu li a:hover{
	color: orange;
}

.menu li:nth-child(2){
	animation-delay: 0.4s;
}

.menu li:nth-child(3){
	animation-delay: 0.8s;
}

.menu li:nth-child(4){
	animation-delay: 1.2s;
}

.menu li:nth-child(5){
	animation-delay: 1.6s;
}

.menu li:nth-child(6){
	animation-delay: 2s;
}

@keyframes topshift{
	from{
		opacity: 0;
		margin-top: -80px;
	} to {
		opacity: 1;
		margin-top: 0px;
	}
}

.step1{
	width: 100%;
	height: 650px;
	background: url(../img/boy.png) 85% 100%/auto 90% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container{
	float: left;
	color: #2c384a;
	margin: 180px 0px 0px 300px;
	text-align: center;
	animation: leftshift 2s;
}

.title__container h1{
	font-size: 50px;
	font-weight: bold;
}

.title__container h2{
	margin-top: 30px;
	font-size: 14px;
	color: #79818d; 
}

.title__container input{
	height: 30px;
	text-align: center;
	border: 1px solid #6d7682;
	background: none;
	border-radius: 4px;
	color: #6d7682;
	font-size: 14px;
	padding: 0px 13px;
	margin: 40px 14px 0px 14px;
}

.title__container input:hover{
	background: #344051;
	color: white;
}

.title__container input:active{
	transform: scale(1.1);
}

@keyframes leftshift{
	from{
		opacity: 0;
		margin-left: -300px;
	} to {
		opacity: 1;
		margin-left: 300px;
}
}

.step2{
	text-align: center;
	height: 550px;
	width: 100%;
	animation: animation_step2 4s;
}

@keyframes animation_step2{
	from{
		opacity: 0;
		margin-left: -580px;
	} to {
		opacity: 1;
		text-align: center;
}
}

.step2 h2{
	padding-top: 80px;
	padding-bottom: 30px;
	font-size: 25px;
	font-weight: bold;
	background: url(../img/orange_line.jpg) 50% 100%/ 75px auto no-repeat;
}

.step2 img{
background-color: #f0f0f4;
border: 1px solid black;
border-radius: 50%;
width: 150px;
height: 150px;
margin-top: 60px;
margin-bottom: 40px;
filter: grayscale(1);
background-size: auto 80%;
}

.step2 div{
	margin-bottom: 20px;
}

.step2 input{
	height: 30px;
	text-align: center;
	border: 1px solid #6f707e;
	background: none;
	border-radius: 4px;
	color: #6d7682;
	font-size: 10px;
	text-align: right;
	background: url(../img/icon.png) no-repeat left;
	width: 100px;
	padding: 4px;
}

.step2 input{
	transform: all 0.2s;
}

.step2 input:hover{
	background: #344051;
	color: white;
}

.step2 input:active{
	transform: scale(1.1);
}

.step3{
	text-align: center;
	background: url(../img/bg2.jpg) center/cover no-repeat;
	width: 100%;
	height: 550px;
}


.step3 h2{
	padding-top: 80px;
	padding-bottom: 30px; 
	font-size: 25px;
	font-weight: bold;
	background: url(../img/orange_line.jpg) 50% 100%/75px auto no-repeat;
}

.step3 ul{
	padding-left: 100px;
}

.step3 li{
	width: 200px;
	float: left;
	margin: 75px 0px 0px 75px;
}

.step3 img{
	padding: 20px;
}

.step3 h4{
	font-weight: bold;
	color: #cf7600;
	padding: 20px;
}

.step4{
	height: 1000px;
}

.step4 h2{
	text-align: center;
	padding-top: 80px;
	padding-bottom: 30px; 
	font-size: 25px;
	font-weight: bold;
	background: url(../img/orange_line.jpg) 50% 100%/75px auto no-repeat;
}

.case div{
	text-align: center;
	padding: 20px; 
}

.step4 img{
	margin-left: 100px;
}

.client_website{
	margin-left: 100px;
	text-align: left;
	float: left;
}

.client_website h3{
	font-size: 17px;
	font-weight: bold;
	padding: 5px 0px 0px 0px;
}

.client_website div{
	font-size: 10px;
	padding: 5px 0px 0px 0px;
}


.project_name{
	text-align: left;
	margin-left: 250px;
	height: 95px;
	
}

.project_name h4{
	font-size: 15px;
	font-weight: bold;
	padding: 5px 0px 0px 0px;
}

.project_name div{
	padding: 5px 0px 0px 0px;
}

.step4 input{
	border: solid;
	border-radius: 10px;
	background-color: #63b5ae;
	color: #ffffff;
	padding: 10px 30px 10px 30px;
	margin-left: 100px;
	text-transform: uppercase;
}

.step4 input{
	transform: all 0.2s;
}

.step4 input:hover{
	background: #344051;
	color: white;
}

.step4 input:active{
	transform: scale(1.1);
}

.step5{
	height: 650px;
}

.step5 h2{
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 60px;
	text-align: center;
}

.cost{
	height: 330px;
	background: url(../img/end_line.png) 200px 100%/ 900px auto no-repeat;
}
.step5 h3{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 200px;
	padding: 20px 0px 20px 0px;
}

.step5 select{
	margin-left: 200px;
	padding: 10px;
	width: 900px;
	background-color: #eeeeee;
}

.result div{
	margin-left: 200px;
	font-size: 15px;
	padding-top: 20px;
	font-weight: bold;
}

.step6{
	height: 500px;
	text-align: center;
	background: url(../img/bg3.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.paralax_img{

}

.step6 h2{
	padding-top: 80px;
	padding-bottom: 30px; 
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	background: url(../img/orange_line.jpg) 50% 100%/75px auto no-repeat;
}

.step6 ul{
	padding-left: 100px;
}

.step6 li{
	width: 200px;
	float: left;
	margin: 75px 0px 0px 75px;
}

.step6 img{
	padding: 20px;
}

.step6 h3{
	font-weight: bold;
	padding: 20px;
	font-size: 30px;
}

.menu3 div{
	text-transform: uppercase;
	font-weight: bold;
}

.step7{
	height: 600px;
	text-align: center;
	animation: animation_step7 6s;
}

@keyframes animation_step7{
	from{
		opacity: 0;
		margin-left: -580px;
	} to {
		opacity: 1;
		text-align: center;
}
}

.step7 h2{
	padding-top: 80px;
	padding-bottom: 30px; 
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	background: url(../img/orange_line.jpg) 50% 100%/75px auto no-repeat;
}

.step7 img{
background-color: #f0f0f4;
border: 1px solid black;
border-radius: 50%;
width: 130px;
height: 130px;
margin-top: 60px;
margin-bottom: 40px;
}

.step7 div{
	margin-left: 325px;
	margin-bottom: 50px;
	width: 700px;
}

.who{
	font-weight: bold;
}

.step8{
	height: 800px;
	color: #ffffff;
	text-align: center;
	background: url(../img/bg4.png) 0% 0%/100% 100%;
}

.step8 h2{
	padding-top: 80px;
	padding-bottom: 30px;  
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	background: url(../img/orange_line.jpg) 50% 100%/75px auto no-repeat;
}

.contact{
	margin-bottom: 50px;
	margin-top: 50px;
}


.menu4{
	height: 100px;
	width: 600px;
	margin-left: 370px;
	
}

.menu4 li{
	float: left;
	width: 200px;
}

.menu4 img{
	padding: 10px;
}

.message{
	
	}

.message h3{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 30px;
}

.message input{
	padding: 10px;
	width: 300px;
	background-color: #eeeeee;
}

.message textarea{
	width: 602px;
	background-color: #eeeeee;
	margin: 5px;
}

.sent input{
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	color: #ffffff;
	border: 1px solid;
	background: transparent;
}

.sent input{
	transform: all 0.2s;
}

.sent input:hover{
	background: #344051;
	color: white;
}

.sent input:active{
	transform: scale(1.1);
}

footer{
	background: #354051;
	font-family: Arial, sans-serif;
	height: 30px;
	text-align: center;
	color: #ffffff;
	padding: 8px;
}